@model iReadABook.Models.Book.BookDetailsViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <img src="@Model.ImageLink" />
    <span>@Model.Title</span>
    <span>@Model.Author</span>
</div>
