@model iReadABook.Models.Book.SearchResultsViewModel

@{
    ViewBag.Title = "Search";
}

<div class="row" style="padding-top: 20px">
    @using (Html.BeginForm("Search","Book",FormMethod.Get,new {@class = ""}))
    {
        @Html.TextBox("searchTerm", null, new { placeholder = "Enter your search here" })
        <input type="submit" class="btn-primary" name="submit" value="Go!" />
    }
    <h2>Results for @Model.SearchTerm</h2>
</div>


@Html.Partial("_SearchResults",Model.Books)
