@{
    ViewBag.Title = "About";
}

<p><b>iReadABook</b> is platform that lets teachers use feedback from student activities associated with their <b>independent</b> reading. It provides teachers, students, and families results that let them discover connections, identify common interests, and provide meaningful information on comprehension.

</p>
<p>
As the father of two boys passionate about their learning process I was frustrated by the lack of literacy resources to support and connect with teachers and school. There are many great math, science, and technology tools leveraging and filling this need (thank Salaman Khan), but not many that supported the books and love of independent reading.
Although I thought having an assessment platform (let’s just call it an expensive quiz tool) at school was helpful, I heard from teachers and read with disdain about the drudgery kids had to go through to just “prove” they read a book. Yes, knowing what level they read at is nice, but this does not provide a deep and meaningful assessment of a student’s thoughts, understanding, and progress. Nor does it instill a love of reading - only great stories will do that!
</p>
<p>
At the same time, I wanted a place that would let my kids connect with their teachers, other students, and home about ANY books they were reading. Oh, and my kids wanted this place to be cool, not childish. So, I took the idea to the Twin Cities StartUp Weekend – EDU in 2014 with support from Educelerate Minnesota. What I discovered was not only a fantastic team to work with, but a resounding validation that teachers were looking for a tool that could give them an ability to make deeper inquiries that could be collected and measured.
Going forward I plan to build on this idea with input from teachers, parents, and kids. 
</p>
<p>
If you would like to add your thoughts, please feel free to connect.
</p>
<p>
Michael Rex Schumacher

</p>
