@{
    ViewBag.Title = "Home Page";
}

<div class="slideshow godown" >
    <img src="~/Content/images/kids_reading.jpg" width=100% height=100% />
</div>  
<div class="row">
    <div class="col-md-4">
        <h2>STUDENTS</h2>
        <p>Discover what your friends are reading.</p>
        <p>Rate and review your favorites!</p>
        <p>Safely discuss with your class.</p>
        <p>Find recommendations.</p>
    </div>
    <div class="col-md-4">
        <h2>TEACHERS</h2>
        <p>Discover common connections across students.</p>
        <p>Inquire deeper about the books they read.</p>
        <p>Tie inquiries to your standards.</p>
        <p>Easy and usable reports</p>
    </div>
    <div class="col-md-4">
        <h2>PARENTS</h2>
        <p>Connect with your teachers and school.</p>
        <p>Encourage kids with rewards for their effort.</p>
        <p>Particpate in the process of learning.</p>
        <p></p>
    </div>
</div>