@{
    ViewBag.Title = "Home Page";
}

<div class="slideshow godown" >
    <img src="~/Content/images/kids_reading.jpg" width=100% height=100% />
</div>  
<div class="row">
    <div class="col-md-4">
        <h2>STUDENTS</h2>
        <p>Discover what your friends are reading</p>
        <p>Review the books you have read</p>
    </div>
    <div class="col-md-4">
        <h2>TEACHERS</h2>
        <p>Keep track of students in truly independent reading.</p>
        <p>Ask students deep questions about the books they read</p>
    </div>
    <div class="col-md-4">
        <h2>PARENTS</h2>
        <p>Engage with your kids in their independent reading</p>
        <p>Encourage kids with rewards for their effort</p>
    </div>
</div>